.row {
    display: grid;
    align-items: center;
    padding: 5rem;
    width: 100%;
    border-bottom: 1px solid black;
}

/*First Row*/
.page-container:nth-child(1){
    /*padding-top: 5rem;*/
}

.landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: start;
}
.fade-out{
    opacity: 1;
    transition: opacity 250ms ease-out;
}
.fade-out.disappear{
    opacity: 0;
}
.fade-in {
    opacity: 0;
    transition: opacity 550ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}
.from-left{
    transform: translateX(-50%);
}
.from-right{
    transform: translateX(50%);
}
.from-left, .from-right{
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}
.from-left.appear, .from-right.appear{
    transform: translateX(0);
    opacity: 1;
}
img {
    height: 10rem;
    width: auto;
}
.img__description{
    opacity: 0;
}
.image:hover .img__description{
    opacity: 1;
    /*transition: opacity 250ms ease-in;*/
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    margin-bottom: 10rem;

}
.image{
    padding: 1rem 1rem 0 1rem;
    transition: 1s box-shadow;
}
div.image:nth-child(odd) {
    transform: rotate(5deg);
    transition: all 0.5s ease;
    animation: rotate 2s ease-in-out infinite;
    animation-iteration-count: 2;
}
div.image:nth-child(odd):hover{
    transform: scale(1.1)  rotate(0deg);
    transition: all 0.5s ease;
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.5);
}
div.image:nth-child(even){
    transform: rotate(-5deg);
    transition: all 0.5s ease;
    animation: rotate2 2s ease-in-out infinite;
    animation-iteration-count: 2;


}
div.image:nth-child(even):hover{
    transform: scale(1.15)  rotate(0deg);
    transition: all 0.5s ease;
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.5);

}
.welcome {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-align: start;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}
.welcome {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #005a9c 0%,
            #023860 29%,
            #0689ec 67%,
            #a5acaf 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    animation-iteration-count: 2;
    /*display: inline-block;*/
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes rotate{
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
@keyframes rotate2{
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}



.textContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.text
{
    text-transform: uppercase;
    font-size: 3rem;
    position: relative;
    color: #a5acaf;
}

.text::before
{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 0.6s;
}

.textContainer::before
{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
    right: 0;
    top: 0;
    transition: 0.6s;
}

.textContainer:hover .text::before,.textContainer:hover::before
{
    width: 100%;
}



/*
===========================================================================
                            MOBILE MEDIA QUERY
===========================================================================
*/
@media screen and (max-width: 450px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: unset;
        width: 100%;
    }
    .landing {
        margin-top: 260rem;
    }
    .welcome {
        font-size: 2rem;
        text-align: center;
        margin-top: 10rem;
    }
    img{
        height: 8rem;
        width: auto;
    }
    .images{
        grid-template-columns: 1fr 1fr;
        grid-gap: unset;
        margin: unset;
    }
    /*.image{*/
    /*    padding: 0;*/
    /*}*/
    .page-container {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    .socialMediaBar {
        width: 100vw;
    }
}